.usersadmin-headshot{
    width: 40px;
    margin-right: 10px;
    border-radius: 20%;
}

.usersadmin-username{
    text-align: left;
}

.deactivated{
    color: red;
    font-weight: bold;
}

.activated{
    color: green;
    font-weight: bold;
}

/* Styling for user edit form */
#user-image-file-edit{
    display: none;
}
/* End of styling for user edit form */
