.research-post{
    margin-bottom: 25px;
}

.research-headshot{
    width: 30px;
    margin-right: 10px;
    border-radius: 20%;
}

#edit-research-button{
    margin-right: 5px;
}

#edit-research-button, #delete-research-button{
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}
