/* Start of get involved photo banner styling */
.getinvolved-photo-container{
    position: relative;
    text-align: center;
    color: white;
}

.getinvolved-photo{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: top center;
}

.getinvolved-photo-title{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.getinvolved-photo-subtitle{
    font-size: 35px;
}
/* End of get involved photo banner styling */

/* Start of applicant form styling */
.applicant-card-header{
    background-color: ghostwhite;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5BC0DE;
    font-size: 18px;
    font-weight: bold;
}

.applicant-form-header{
    color: black;
    font-weight: bold;
    padding: 5px;
}

.applicant-submission-note{
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}

#conference-applicant-positions, #events-applicant-positions, #marketing-applicant-positions,
#mentorship-applicant-positions, #tech-applicant-positions{
    display: none;
}
/* End of applicant form styling */
