.applicant-card-header{
    background-color: ghostwhite;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5BC0DE;
    font-size: 18px;
    font-weight: bold;
}

#applicant-team-dropdown{
    margin-left: 20px !important;
    margin-right: 20px !important;
    display: inline-block !important;
}

.applicant-team-selected{
    margin-top: 10px;
}
