
/* Centralize the executive photo, name and description in modals on mobile screens */
/* Increase the padding between the photo and the name */
@media (max-width: 992px){
  .enlarged-executive-photo{
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .name{
    text-align: center;
  }

  .position{
    text-align: center;
  }

  .executive-name, .executive-position{
    margin-left: 0px;
  }
}

@media (max-width: 765px){
  .executive-photo{
    display: block;
    width: 180px;
    height: 180px;
    margin-right: 25px;
  }
}
