/* Team */
html {
    scroll-behavior: smooth;
}

.grid-container{
  font-family: Tahoma, Geneva, sans-serif;
  display: grid;
  justify-content: space-evenly;
}

.team{
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: white;
}

.white-background-section{
    background-color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.cloud-background-section{
    background-color: whitesmoke;
    font-family: Tahoma, Geneva, sans-serif;
}

.section-separator{
    margin: 0px;
}

/* Team Sections */
.team-members{
    font-size: 38px;
    text-align: center;
    color: black;
    margin-bottom: 60px;
    margin-top: 30px;
}

.team-name{
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
/* End of Team Sections */

/* Team Executive Buttons */
.executive-photo{
    border-radius: 60%;
    width: 190px;
    height: 190px;
    cursor: pointer;
    border: none !important;
    outline-color: transparent !important;
    background: none !important;
    display: block;
}

.executive-photo:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}

.executive-photo:hover {
     opacity: 0.7;
}

.executive-name{
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 30px;
}

.executive-position{
    font-family: Tahoma, Geneva, sans-serif;
    color: #4c4c4c;
    text-align: center;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 40px;
    font-style: italic;

}
/* End of Team Executive Buttons */

/* Anchor Links */
h3{
  scroll-margin-top: 10rem;
}
/* End of Anchor Links */

/* Team Executives Modals */
.enlarged-executive-photo{
    border-radius: 50%;
    width: 225px;
	  height: 225px;
    margin-top: 20px;
}

.name{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: black;
}

.position{
    font-family: Tahoma, Geneva, sans-serif;
    color: #4c4c4c;
    margin-bottom: 20px;
    font-style: italic;
}

.divider{
    border-width: 1px;
    border-color: #4c4c4c;
    margin-bottom: 20px;
}

.biography, .learn-more{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    color: black;
}

.learn-more{
  text-align: center;
}

.modal-header {
    border-bottom: 0px !important;
}
/* End of Team Executives Modals */
/* End of Team */
