
/* Make the conference, banner and team photos responsive on mobile screens */
/* Decrease the top padding for both the About Us and Announcements sections*/
@media (max-width: 992px){
    #team-photo-homepage, #conference-photo{
        width: 100%;
        margin-bottom: 30px;
    }

    .banner{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .about-us{
        padding-top: 50px;
    }

    .announcements{
        padding-top: 50px;
    }
}
