
@media (max-width: 992px){
    /* Set team photo to 100% width in mobile */
    .team-photo{
        width: 100%;
        height: 100%;
    }

    /* Decrease font size of slideshow caption in mobile */
    .slideshow-caption{
        font-size: 18px;
    }

    /* Increase the padding between the photo and the name */
    .enlarged-executive-photo{
        padding: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Remove bottom margin from the column containing the enlarged executive photo*/
    .photo-column{
        margin-bottom: 0px;
    }

    /* Centralize the executive photo, name and description in modals on mobile screens */
    .name, .position, .biography{
        text-align: center;
    }

    /* Centralize the executive photo, name and description (non-modal) on mobile screens */
    .executive-photo,.executive-name, .executive-position{
        margin-right: 15px;
    }
}
