/* Start of team photo banner styling */
.team-photo-container{
    position: relative;
    text-align: center;
    color: white;
}

.team-photo{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: top center;
}

.team-photo-title{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-photo-subtitle{
    font-size: 35px;
}
/* End of team photo banner styling */

/* Styling each team section */
.team-name{
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    scroll-margin-top: 10rem;
}

#team-members{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

#add-exec-button{
    margin-left: 10px;
}

.team-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

.team-section-separator{
    margin: 0px;
}
/* End of Team */
