/* Start of sponsors photo banner styling */
.sponsors-photo-container{
    position: relative;
    text-align: center;
    color: white;
}

.sponsors-photo{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: top center;
}

.sponsors-photo-title{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sponsors-photo-subtitle{
    font-size: 35px;
}

#add-sponsor-button{
    margin-left: 10px;
}
/* End of sponsors photo banner styling */

/* Sponsors header for each section */
.sponsors-header{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#platinum-sponsor{
    background-color: #7F7679;
}

#gold-sponsor{
    background-color: #D4AF37;
}

#silver-sponsor{
    background-color: #C0C0C0;
}

#bronze-sponsor{
    background-color: #CD7F32;
}

#partner-sponsor{
    background-color: #012B5D;
}

#special-sponsor{
    background-color: darkorange;
}
/* End of sponsors header for each section */
