#event-image-file-edit{
    display: none;
}

#edit-event-button, #delete-event-button{
    display: inline-block;
    float: right;
}

/* Styles for the Image React component */
.landscape-event-image{
    width: 100%;
    height: 225px;
}

.portrait-event-image{
    width: 100%;
    height: 475px;
}

.square-event-image{
    width: 100%;
    height: 100%;
}
