#edit-event-button, #delete-event-button{
    display: inline-block;
    float: right;
    margin-bottom: 10px;
}

/* Styles for the Image React component */
#eventImageFileEdit{
    display: none;
}

.MuiCardMedia-root.image__card-media {
    height: 100px;
}

.landscape-poster{
    width: 100%;
    height: 225px;
}

.portrait-poster{
    width: 100%;
    height: 475px;
}

.square-poster{
    width: 100%;
    height: 100%;
}

.MuiCardActions-root.image__card-actions {
    justify-content: center;
}
